{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "max-len": 0,
    "no-else-return": 0,
    "arrow-body-style": 0,
    "import/no-unresolved": 0,
    "no-plusplus": "off",
    "no-lonely-if": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
          "some": [ "nesting", "id" ]
      }
    }]
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "expect": true,
    "__webpack_public_path__": true
  },
  "settings": {
    "import/core-modules": [ "app-config" ]
  }
}
